header, footer {
    background-color: #9fc5f8;
    min-height: 100px;
}

.common_bg {
    background-color: #9fc5f8;
}

.header_common_style {
    background-color: #cfe2fb;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding_right_disable {
    padding-right: 0px;
}

.hero_common_style {
    background-color: #cfe2fb;
    min-height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: Bold;
    text-align: center;
    padding-top: 15px;
}


#hero, #content, footer {
    margin-top: 15px;
    margin-bottom:15px;
}

.add {
    background-color: #6fa8dc;
    min-height: 200px;
}

.common_content_height {
    min-height: 500px;
}

.common_content_style {
    background-color: #cfe2fb;
    min-height: 450px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sidebar_content {
    overflow: hidden;
}
.sidebar_feature {
    background-color: #cfe2fb;
    min-height: 450px;
    margin: 20px;

}